/* Space Mono - monospace 400, 700, Lexend Deca - sans-serif 400 */

@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/spacemonoregular.woff2") format("woff2"),
       url("../fonts/spacemonoregular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/spacemonobold.woff2") format("woff2"), 
       url("../fonts/spacemonobold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexenddecaregular.woff2") format("woff2"),
       url("../fonts/lexenddecaregular.woff") format("woff");
}

*,
::before
::after {
	box-sizing: border-box;
}

body {
	font-family: "Space Mono", "Courier New", monospace;
	font-weight: 700;
	font-size: 15px;
}

img {
	display: block;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	white-space: nowrap;
	clip: rect(0 0 0 0)
}

.container {
	width: 1150px;
	margin-inline: auto;
	padding-inline: 20px;
}

.unstayled-list {
	margin-block: 0;
	padding-inline-start: 0;
	list-style-type: none;
}
